:root {
    --cor-de-fundo: #0B0A14;
    --branco-principal: white;
    --botão-azul: #167bf7;
    --cinza-secundario: #c0c0c0;
    --fonte-principal: "Inter";
    --efeito-lista: purple;
    --azul-efeito-botao: #E0F7FA;


}

* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url(../img/background-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container__logo {
    margin: 0 10rem;

}

.container__titulo {
    font-size: 1.75rem;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__botao {
    display: block;
    background-color: var(--botão-azul);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1rem;
}

.container__botao--secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario__imagem {
    width: 70%;
}

.container__descricao {
    padding: 2rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    margin-top: 0.5rem;
    display: inline-block;
}

.teste__imagem {
    width: 90%;
}

.meio__imagem {
    margin-left: 10%;
    width: 80%;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
}

.dispositivos__lista {
    justify-content: center;
    list-style: none;
    display: flex;
    margin-top: 2rem;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin: 1rem 0;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);

}

.rodape__texto {
    margin: 1rem 0;
    color: var(--cinza-secundario);
    font-size: 0.8rem;

}

.lista__link a:hover {
    color: var(--botão-azul);
}

.lista__link a:active {
    color: var(--efeito-lista);
}

.container__botao:hover {
    background-color: var(--azul-efeito-botao);
    color: var(--cor-de-fundo);
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__logo {
        margin: 2rem 2rem;
        
    }

    .secundario {
        text-align: center;
        margin: 0;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }

}